html {
    height: 100%;
}

body {
    background-color: #333333;
    text-align: center;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.gamePack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.82rem;
    padding-left: 0;
}

.playBoard {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    background-color: blueviolet;
    border-radius: 0.5rem;
    align-self: flex-start;
}

.cell {
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
    background-color: beige;
    color: blue;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.takenByO {
    background-color: rgb(131, 247, 30);
}

.takenByX {
    background-color: rgb(216, 92, 227);
}

.winner {
    background-color: rgb(243, 219, 37) !important;
}


.options {
    width: 13rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 36rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

.playersOptions fieldset {
    margin-bottom: 1rem;
}

.playersOptions fieldset label,
.playersOptions fieldset input {
    display: block;
    margin-bottom: 0.5rem;
}

.next-turn {
    width: 100%;
    box-sizing: border-box;
}

.next-turn .row {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.next-turn .label {
    white-space: nowrap;
}

.next-turn .output {
    padding: 0.2rem 0.4rem;
    border: 1px solid #999;
    border-radius: 0.2rem;
    min-height: 1.4em;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}

[type="button"] {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.3rem;
    background-color: #7ef29d;
    width: 92%;
    box-sizing: border-box;
}

legend {
    font-size: larger;
    font-weight: bolder;
}

#scoreListOutput {
    width: 13rem;
    background-color: beige;
    height: 36rem;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
