html {
    height: 100%;
}

body {
    background-color: #333333;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

.playBoard {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);    
    padding: 0.5rem;
    background-color: blueviolet;
    border-radius: 0.5rem;
}

.cell {    
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
    background-color: beige;
    color: blue;
    font-size: 5rem;
    display: flex;
    justify-content: center;    
    align-items: center;    
}

.cell:hover {
    background-color: aqua;
}

.takenByO {
    background-color: rgb(131, 247, 30);
}

.takenByX {
    background-color: rgb(216, 92, 227);
}

.winner {
    background-color: rgb(243, 219, 37) !important;
}

#clearBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    background-color: #f0f0f0;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}