html {
    height: 100%;
}

body {
    background-color: #333333;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

.playBoard {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    background-color: blueviolet;
    border-radius: 0.5rem;
}

.cell {
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
    background-color: beige;
    color: blue;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.takenByO {
    background-color: rgb(131, 247, 30);
}

.takenByX {
    background-color: rgb(216, 92, 227);
}

.winner {
    background-color: rgb(243, 219, 37) !important;
}

.gamePack {
    display: flex;
    flex-direction: row;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: beige;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.playerDataInput {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

[type="button"] {
    margin: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.3rem;
    background-color: #7ef29d;
    align-self: flex-start;
}

table {
    background-color: beige;
}